<div ng-controller="DataController">
<table>
	<caption>Contact info</caption>
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Contact No1</th>
			<th>Email</th>
			<th>Address</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{Contact.FirstName}}</td>
			<td>{{Contact.LastName}}</td>
			<td>{{Contact.ContactNo1}}</td>
			<td>{{Contact.Email}}</td>
			<td>{{Contact.Address}}</td>
		</tr>
	</tbody>
</table>
</div>
@section scripts{
    <script src="~/Scripts/AngularController/DataController.js"></script>
}